.splitPanel{
    display: flex;
    flex-direction: column; /* 垂直排列子元素 */
    justify-content: center; /* 垂直居中 */
    align-items: center; /* 水平居中 */
    .panelDesc{
        height: auto;
    }
    svg{
        width: 35px;
        height: 35px;
        margin-bottom: 15px;
    }
}